/* Hide the Google Translate banner */
.goog-te-banner-frame {
    display: none !important;
}

body {
    top: 0 !important;
}

 /* Hide the default Google Translate banner */
 .goog-te-banner-frame {
    display: none !important;
}
body {
    top: 0 !important;
}

/* Style the iframe dropdown */
.goog-te-menu-frame {
    display: none !important;
    position: absolute;
    top: 40px; /* Adjust based on button position */
    left: 0;
    z-index: 1000;
    border: 1px solid #ccc;
}