#layout-header{
    margin: 1rem;
}

#layout-children{
    margin:1.2rem
}

#setting-nav{
    display: flex;
    justify-content: space-between;
}

.icons-right{
    display: flex;
}

.info-nav{
    display: grid;
    grid-template-columns: auto 1fr;
}